<div class="audioPlayer {{#if is_external}} external{{else}} episode{{#unless feature_image}} no-thumbnail{{/unless}}{{/if}}{{#unless @member.paid}} non-member{{/unless}}"
    {{#if @member.paid}}
        {{#if comment_id}}
            data-url="https://audio.matthewrasnake.com/podcast/{{tags.[1].slug}}/{{comment_id}}.mp3"
            data-id="{{comment_id}}"
        {{/if}}>
        <audio class="audio" {{#unless is_external}} src="https://audio.matthewrasnake.com/podcast/{{tags.[1].slug}}/{{comment_id}}.mp3"{{/unless}}></audio>
    {{else}}
        >
        {{> member-banner }}
    {{/if}}
    {{> player-media ratio="square" is_placeholder=is_external}}
    <div class="wrapper">
        {{> post-header is_placeholder=is_external tags=false primary=tags.[1]}}
        <div class="track">
            <div class="progress"></div>
        </div>
        <div class="controls">
            <div class="buttons">
                <button class="button small secondary backward">{{> "icons/replay_10"}}</button>
                <button class="button small js-play">
                    <span class="play">{{> "icons/play"}}</span>
                    <span class="pause">{{> "icons/pause"}}</span>
                </button>
                {{!-- <button class="button small pause js-play"></button> --}}
                <button class="button small secondary forward">{{> "icons/forward_30"}}</button>
                <button class="button small secondary speed">1x</button>
            </div>
            <div class="time">
                <span class="current">00:00:00</span>
                <span class="duration">00:00:00</span>
            </div>
        </div>
        <button class="button close">{{> "icons/close" }}</button>
    </div>
</div>