<article class="post-card {{post_class}}{{!--
--}}{{#if book}} book no-image"{{!--
--}}{{else}}{{!--
    --}}{{#if square}} square{{/if}}{{!--
    --}}{{#if feature_image}} with-image{{else}} no-image{{/if}}{{!--
    --}}{{#if allow-sizes}}{{!--
        --}}{{#has number="1,2,7,8"}}"
                {{#if feature_image}} style="background-image: url({{img_url feature_image size="l"}})"{{/if}}{{!--
        --}}{{else has number="6,12"}} large"
                {{#if feature_image}} style="background-image: url({{img_url feature_image size="xl"}})"{{/if}}{{!--
        --}}{{else}} small"
                {{#if feature_image}} style="background-image: url({{img_url feature_image size="m"}})"{{/if}}{{!--
        --}}{{/has}}{{!--
    --}}{{else if allow-large}}{{!--
        --}}{{#has number="nth:3"}} large"
                {{#if feature_image}} style="background-image: url({{img_url feature_image size="xl"}})"{{/if}}{{!--
        --}}{{else}}"
                {{#if feature_image}} style="background-image: url({{img_url feature_image size="l"}})"{{/if}}{{!--
        --}}{{/has}}{{!--
    --}}{{else}}"
            {{#if feature_image}} style="background-image: url({{img_url feature_image size="l"}})"{{/if}}{{!--
    --}}{{/if}}{{!--
--}}{{/if}}>
{{#if member-banner}}
    {{#has tag='Member Content'}}
        {{> "member-banner"}}
    {{/has}}
{{/if}}
    <a class="link" href="{{#if book}}/books/{{slug}}/{{else}}{{url}}{{/if}}">
        <div class="content">
            <footer class="footer">
                <div class="date">
                    {{#unless book}}
                        <time datetime="{{date format="YYYY-MM-DD"}}">
                            {{#unless number_date}}
                                {{ date published_at timeago="true" }}
                            {{else}}
                                {{ date published_at }}
                            {{/unless}}
                        </time>
                    {{/unless}}
                </div>
                <div class="tag">{{tags.[1].name}}</div>
                <div class="time">
                    {{#unless book}}
                        {{> icons/timer}}{{ reading_time minute="1 min" minutes="% mins" }}
                    {{/unless}}
                </div>
            </footer>
            <h2 class="title">{{title}}</h2>
            {{#if book}}
                <div class="book-container-3d">
                    <div class="book">
                        <img src="{{img_url feature_image size="s"}}" alt="{{title}}" />
                    </div>
                </div>
            {{/if}}
        </div>
    </a>
</article>
