<div class="share">
    {{#if podcast}}
        <a href="https://audio.matthewrasnake.com/podcast?user={{encode @member.email}}"
            class="item rss"
            target="_blank"
            rel="noopener"
            title="Members Only Podcast Feed — Please Don't Share!"
            >{{> "icons/rss" }}</a>
    {{else}}
        <a href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}"
            class="item facebook"
            target="_blank"
            rel="noopener"
            >{{> "icons/share/facebook" }}</a>
        <a href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}"
            class="item twitter"
            target="_blank"
            rel="noopener"
            >{{> "icons/share/twitter" }}</a>
        <a href="https://pinterest.com/pin/create/button/?url={{url absolute="true"}}&media={{feature_image}}&description={{encode title}}"
            class="item pinterest"
            target="_blank" rel="noopener"
            data-pin-do="none"
            >{{> "icons/share/pinterest" }}</a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}"
            class="item linkedin"
            target="_blank"
            rel="noopener"
            >{{> "icons/share/linkedin" }}</a>
        <a href="https://reddit.com/submit?url={{url absolute="true"}}&title={{encode title}}"
            class="item reddit"
            target="_blank"
            rel="noopener"
            >{{> "icons/share/reddit" }}</a>
        <a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{url absolute="true"}}&title={{encode title}}"
            class="item tumblr"
            target="_blank"
            rel="noopener"
            >{{> "icons/share/tumblr" }}</a>
    {{/if}}
</div>