<div class="share">
    {{#if podcast}}
        <a class="item rss" href="http://feeds.feedburner.com/matthew-rasnake-author-private-feed" target="_blank" rel="noopener" title="Members Only Podcast Feed — Please Don't Share!">
            <i class="fa fa-rss-square"></i>
        </a>
    {{else}}
        <a class="item facebook"
            href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}" target="_blank" rel="noopener"><i
                class="fab fa-facebook-square"></i></a>
        <a class="item twitter"
            href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}" target="_blank" rel="noopener"><i
                class="fab fa-twitter-square"></i></a>
        <a class="item pinterest"
            href="https://pinterest.com/pin/create/button/?url={{url absolute="true"}}&media={{featured_image}}&description={{encode title}}"
            target="_blank" rel="noopener" data-pin-do="none"><i class="fab fa-pinterest-square"></i></a>
        <a class="item linkedin"
            href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&title={{encode title}}"
            target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
        <a class="item reddit"
            href="https://reddit.com/submit?url={{url absolute="true"}}&title={{encode title}}" target="_blank" rel="noopener"><i
                class="fab fa-reddit-square"></i></a>
        <a class="item tumblr"
            href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{url absolute="true"}}&title={{encode title}}"
            target="_blank" rel="noopener"><i class="fab fa-tumblr-square"></i></a>
    {{/if}}
</div>