{{#unless form-only}}
<section class="subscribe-form {{classes}}">
    <h3 class="title">{{ heading }}</h3>
    <p class="description">{{ description }}</p>
{{/unless}}
    <form {{#if form-class}}class="{{form-class}}"{{/if}} data-members-form="{{ form-type }}">
        <div class="form-group">
            <div class="fields">
                {{#if show-name}}
                    <input type="text" class="subscribe-name" data-members-name placeholder="Your Name" autocomplete="false" />
                {{/if}}
                <input type="email" class="subscribe-email" data-members-email placeholder="youremail@example.com" autocomplete="false" />
            </div>
            <button class="button primary" type="submit">
                <span class="button-content">
                    {{button-name}}
                </span>
                <span class="button-loader">{{> "icons/loader"}}</span>
            </button>
        </div>
        <div class="message-success">
            <strong>Great!</strong> Check your inbox and click the link to {{success-text}}
        </div>
        <div class="message-error">
            Please enter a valid email address!
        </div>
    </form>
{{#unless form-only}}
</section>
{{/unless}}