{{!< default}}

<header class="page-head">
    <h2 class="title">Member Account</h2>
    <p class="description">Account details and managment</p>
</header>
{{#if @member}}
    <div class="page-body gh-page member">
        <h3 class="title member-welcome">Welcome, Recruit!</h1>
        <div class="member-box">
            <div class="subscription">
                {{#if @member.paid}}
                    {{!-- Logged in, paying member: Show account info --}}
                    {{#foreach @member.subscriptions}}
                        <div class="status {{status}}">
                            <p>
                                {{#if cancel_at_period_end}}
                                    <strong class="expiration-warning">Your current membership expires on {{date current_period_end format="DD MMM YYYY"}}.</strong> If you change your mind before then, you can always turn auto-renew back on and continue the adventure!
                                {{else}}
                                    Hey! You currently have an active membership. Don't hesitate to let me know if you have any problems or need help getting things updated, and thanks for your support!
                                {{/if}}
                            </p>
                            <div class="details">
                                <div class="detail">
                                    <label class="label">Email address: </label>
                                    <span class="content">{{@member.email}}</span>
                                </div>
                                <div class="detail plan" data-amount="{{plan.amount}}" data-interval="{{plan.interval}}">
                                    <label class="label">Your plan: </label>
                                    <span class="content plan-is-by-{{plan.interval}}">
                                        {{price plan currency=currency}}/{{plan.interval}}
                                    </span>
                                </div>
                                <div class="detail">
                                    <label class="label">Card: </label>
                                    <span class="content">**** **** **** {{default_payment_card_last4}}</span>
                                </div>
                                <div class="detail">
                                    <label class="label">
                                        {{#if cancel_at_period_end}}
                                            Expires:
                                        {{else}}
                                            Next bill date:
                                        {{/if}}
                                    </label>
                                    <span class="content">{{date current_period_end format="DD MMM YYYY"}}</span>
                                </div>
                            </div>
                        </div>
                    {{/foreach}}
                {{else}}
                    {{!-- Logged in, free subscriber: Show account info, encourage upgrade. --}}
                    <p>Hey there, recruit! You've signed up to receive members only newsletter and blog updates, and I sincerely appreciate your interest!</p>
                    <p>There's more to explore for Astronaut, Colonist, or Explorer-level members, including sneak peeks and pre-release stories, a members' podcast feed, and signed paperbacks of released stories! Sound good?</p>
                    <div>
                        <a class="button primary" href="/join/">Become a Patron Today!</a>
                    </div>
                {{/if}}
            </div>
            <div class="manage">
                <a href="https://libravatar.org" class="avatar" title="Avatars provided by Libravatar.com">
                    <img src="{{@member.avatar_image}}">
                </a>
                <div class="buttons">
                    <a class="button fit edit-account" href="#/portal/account">Edit Account Info</a>
                    {{#if @member.paid}}
                        {{#foreach @member.subscriptions}}
                            <div class="status {{status}}">
                                <a class="button fit edit-billing" href="javascript:"
                                    data-members-edit-billing
                                    data-members-success="/account/?stripe=billing-update-success"
                                    data-members-cancel="/account/?stripe=billing-update-cancel">Edit Billing Info</a>
                                {{cancel_link
                                    class="button fit cancel"
                                    cancelLabel="Cancel Membership"
                                    continueLabel="Continue Membership"
                                }}
                            </div>
                        {{/foreach}}
                    {{/if}}
                    <a class="button fit member-tiers" href="/join">Member Tiers</a>
                    <a class="button fit sign-out" href="javascript:" data-members-signout>Sign Out</a>
                </div>
            </div>
        </div>
    </div>
{{else}}
    {{!-- Not logged in: Redirect to signin --}}
    <script>window.location = '{{@site.url}}/signin/';</script>
{{/if}}
{{#contentFor "scripts"}}
    {{> "plans-helper-js" }}
    {{> "member-helper-js" }}
    <script data-swup-reload-script>
        $(document).ready(function() {
            // update avatar source
            var avatar = $('.avatar img');
            var avatarImg = avatar.attr('src');
            if (avatarImg) {
                avatar.attr('src', avatarImg.replace("gravatar.com","seccdn.libravatar.org"));
            }
        });

        function memberPageUpdates() {
            // handle subscriptions
            var accountData = {};
            var planNickname = false;
            var subscriptions = $('div.subscription div.status.active').find('.detail.plan');
            for (i = 0; i < subscriptions.length; i++) {
                var planDetails = subscriptions[i];
                var accountData = $(planDetails).data();
                planNickname = planNicks[accountData.amount];
                if (!!planNickname) {
                    if (i==0 && member.plan !== 'complimentary') {
                        $('.member-welcome').text(`Welcome, ${planNickname}!`);
                    }
                    $(planDetails).find('.content').prepend(`<span class="plan-name">${planNickname}</span> — `);
                }
            }
        };
    </script>
{{/contentFor}}