{{!< default}}

{{#page}}
<article class="post-content
    book
    {{page_class}}
    {{#has tag="#preorder"}}preorder{{else has tag="#comingsoon"}}comingsoon{{/has}}
    no-image">

    <header class="post-content-header">
        <h2 class="post-content-title">{{title}}</h2>
    </header>

    <div class="post-content-body">
        <div class="row">
            <div class="col info">
                {{content}}
                <hr />
                <p id="book-details" style="font-size:.75em;">
                    <b>Publisher:</b>
                        {{#has tag="#sgp"}}
                            Savant-Garde Press
                        {{else}}
                            Jetpack Wanderer Press
                        {{/has}}<br />
                    <b>Available in:</b>
                        {{#has tag="#paperback"}}
                            Paperback{{#has tag="#ebook, #audiobook"}}, {{/has}}
                        {{/has}}
                        {{#has tag="#ebook"}}
                            eBook{{#has tag="#audiobook"}}, {{/has}}
                        {{/has}}
                        {{#has tag="#audiobook"}}
                            Audiobook
                        {{/has}}<br />
                    <b id="pubDateLabel">{{#has tag="#preorder"}}
                            Pre-Order Now
                        {{else has tag="#comingsoon"}}
                            Coming Soon
                        {{else}}
                            Publish Date:
                        {{/has}}
                    </b> <span id="pubDate">
                        {{#has tag="#comingsoon, #preorder"}}
                        {{else}}
                            {{date published_at format="MMMM YYYY"}}
                        {{/has}}
                    </span>
                </p>
            </div>
            <div class="col-4 links">
                <div class="book-container-3d">
                    <div class="book">
                        <img alt="{{title}} by Matthew Rasnake" src="{{feature_image}}" />
                    </div>
                </div>
                <h4 class="price">${{date published_at format="H"}}.{{#has tag="#paperback"}}99{{else}}95{{/has}}</h4>
                <h6 class="direct">Direct From the Author</h6>
                <ul class="direct actions fit stacked">
                </ul>
                <h6 class="indirect">Elsewhere</h6>
                <ul class="indirect actions fit stacked">
                </ul>
                <h6 class="book-love">Book Love</h6>
                <ul class="book-love actions special">
                </ul>
            </div>
        </div>
    </div>

</article>
{{/page}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script data-swup-reload-script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
        var container = image.closest('.kg-gallery-image');
        var width = image.attributes.width.value;
        var height = image.attributes.height.value;
        var ratio = width / height;
        container.style.flex = ratio + ' 1 0%';
    })

    // Format these so we're just working with the DATE, not the TIME
    var preOrderDate = Date.parse('{{date published_at format="LL"}}');
    var pubDate = preOrderDate;
    var today = Date.parse(new Date().toDateString());

    // We assume the post is published on the book's publication date
    var comingsoon, preorder = false;

    $(document).ready(
        function() {

            // The book's publication date
            if (!!bookData.pubDate) {
                pubDate = Date.parse(bookData.pubDate)
                $('#pubDate').html(new Intl.DateTimeFormat(undefined, {month: 'long', year: 'numeric'}).format(pubDate));
            }
            // The book's pre-order date
            if (!!bookData.preOrderDate) {
                preOrderDate = Date.parse(bookData.preOrderDate)
            }

            // The book hasn't been published yet
            if (today < pubDate) {
                // Is it available for pre-order?
                preorder = (preOrderDate <= today);
                // If not, it's coming soon
                comingsoon = !preorder

                var pubDateLabel = (preorder) ? "Pre-Order Until" : ((comingsoon) ? "Coming" : null);
                if (!!pubDateLabel) {
                    $('#pubDateLabel').html(`${pubDateLabel}:`);
                }
            }

            // The book's primary retail price
            if (!!bookData.price) {
                $('div.links').find('.price').html('$'+bookData.price);
            }
            // The book's primary ISBN
            if (!!bookData.isbn) {
                $('#book-details').append('<br /><b>ISBN:</b> ' + bookData.isbn);
            }
            if (comingsoon) {
                $('h6.direct').html("Coming Soon!").show();
            } else {
                // Show BUY buttons if book is available for sale or pre-order
                if (!!bookData.payhip) {
                    $('h6.direct').show();
                    if (!!bookData.payhip.print) {
                        $('ul.actions.direct').append('<li><a href="https://payhip.com/b/'+bookData.payhip.print+'" class="button primary fit payhip-buy-button" data-theme="none" data-product="'+bookData.payhip.print+'">Buy Print</a></li>');
                    }
                    if (!!bookData.payhip.ebook) {
                        $('ul.actions.direct').append('<li><a href="https://payhip.com/b/'+bookData.payhip.ebook+'" class="button primary fit payhip-buy-button" data-theme="none" data-product="'+bookData.payhip.ebook+'">Buy eBook</a></li>');
                    }
                    $('body').append('<scr'+'ipt type="text/javascript" src="https://payhip.com/payhip.js?v=24u68984"></scr'+'ipt>')
                }
                if (!!bookData.bookshop || !!bookData.b2r) {
                    $('h6.indirect').show();
                    if (!!bookData.bookshop) {
                        $('ul.actions.indirect').append('<li><a href="https://bookshop.org/books/'+bookData.bookshop+'" class="button fit" title="Find your local bookshop on bookshop.org">Your Local Shop</a></li>');
                    }
                    if (!!bookData.b2r) {
                        $('ul.actions.indirect').append('<li><a href="https://books2read.com/'+bookData.b2r+'" class="button fit" title="Choose your favorite online retailer.">The Big Guys</a></li>');
                    }
                }
                if (!!bookData.goodreads || !!bookData.bookBub) {
                    $('h6.book-love').show();
                    if (!!bookData.goodreads) {
                        $('ul.actions.book-love').append('<li><a href="https://www.goodreads.com/book/show/'+bookData.goodreads+'" target="_blank"><img src="https://s.gr-assets.com/assets/badge/goodreads-badge-add-plus-71eae69ca0307d077df66a58ec068898.png" height="41" /></a></li>')
                    }
                    if (!!bookData.bookBub) {
                        $('ul.actions.book-love').append('<li><a href="https://www.bookbub.com/books/'+bookData.bookBub+'"><img src="https://images.matthewrasnake.com/logo_BookBub.jpg" height="41" /></a></li>');
                    }
                }
            }
        }
    )
</script>
{{/contentFor}}
