{{!< default}}

{{#page}}
<article class="post-content book {{page_class}} no-image">

    <header class="post-content-header">
        <h2 class="post-content-title">{{title}}</h2>
    </header>

    <div class="post-content-body">
        <div class="row">
            <div class="col info">
                {{content}}
                <hr />
                <p id="book-details" style="font-size:.75em;">
                    <b>Publisher:</b>
                        {{#has tag="#sgp"}}
                            Savant-Garde Press
                        {{else}}
                            Jetpack Wanderer Press
                        {{/has}}<br />
                    <b>Available in:</b>
                        {{#has tag="#paperback"}}
                            Paperback{{#has tag="#ebook, #audiobook"}}, {{/has}}
                        {{/has}}
                        {{#has tag="#ebook"}}
                            eBook{{#has tag="#audiobook"}}, {{/has}}
                        {{/has}}
                        {{#has tag="#audiobook"}}
                            Audiobook
                        {{/has}}<br />
                    <b>Published:</b> {{date published_at format="MMMM YYYY"}}
                </p>
            </div>
            <div class="col-4 links">
                <img src="{{feature_image}}" /><br />
                <h4 style="text-align: center;">${{date published_at format="H"}}.{{#has tag="#paperback"}}99{{else}}95{{/has}}</h4>
                <h6 class="direct">Direct From the Author</h6>
                <ul class="direct actions fit stacked">
                </ul>
                <h6 class="indirect">Elsewhere</h6>
                <ul class="indirect actions fit stacked">
                </ul>
            </div>
        </div>
    </div>

</article>
{{/page}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script data-swup-reload-script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
        var container = image.closest('.kg-gallery-image');
        var width = image.attributes.width.value;
        var height = image.attributes.height.value;
        var ratio = width / height;
        container.style.flex = ratio + ' 1 0%';
    })
    $(document).ready(
        function() {
            if (!!bookData.isbn) {
                $('#book-details').append('<br /><b>ISBN:</b> ' + bookData.isbn);
            }
            if (!!bookData.payhip) {
                $('h6.direct').show();
                if (!!bookData.payhip.print) {
                    $('ul.actions.direct').append('<li><a href="https://payhip.com/b/'+bookData.payhip.print+'" class="button primary fit payhip-buy-button" data-theme="none" data-product="'+bookData.payhip.print+'">Buy Print</a></li>');
                }
                if (!!bookData.payhip.ebook) {
                    $('ul.actions.direct').append('<li><a href="https://payhip.com/b/'+bookData.payhip.ebook+'" class="button primary fit payhip-buy-button" data-theme="none" data-product="'+bookData.payhip.ebook+'">Buy eBook</a></li>');
                }
                $('body').append('<scr'+'ipt type="text/javascript" src="https://payhip.com/payhip.js?v=24u68984"></scr'+'ipt>')
            }
            if (!!bookData.bookshop || !!bookData.b2r) {
                $('h6.indirect').show();
                if (!!bookData.bookshop) {
                    $('ul.actions.indirect').append('<li><a href="https://bookshop.org/books/'+bookData.bookshop+'" class="button fit" title="Find your local bookshop on bookshop.org">Your Local Shop</a></li>');
                }
                if (!!bookData.b2r) {
                    $('ul.actions.indirect').append('<li><a href="https://books2read.com/'+bookData.b2r+'" class="button fit" title="Choose your favorite online retailer.">The Big Guys</a></li>');
                }
            }
        }
    )
</script>
{{/contentFor}}
