{{!< default}}

<div class="gh-page">
    <div class="gh-container">
        <div class="checkout-form">
            <h1 class="checkout-title">Join the Adventure!</h1>
            <p>Subscribe for regular updates, or become a patron and unlock additional members-only content!</p>
            <div class="checkout-box">
                <div class="checkout-plan plan-trainee">
                    <header class="plan-header">
                        <h3>Trainee</h3>
                        <strong>&nbsp;</strong><span>FREE</span><strong>&nbsp;</strong>
                    </header>
                    <div class="plan-content">
                        <b class="tagline">The right stuff!</b>
                        <p class="intro">As a Trainee, receive two free stories, plus public and member-exclusive site content and emails.</p>
                        <b>Includes:</b>
                        <ul>
                            <li><i>Email newsletter with public and member-exclusive content</i></li>
                            <li><i>Access to member-exclusive content</i></li>
                            <li><a href="javascript:scrollToStories()"><i>Two free sci-fi short stories!</i></a></li>
                        </ul>
                    </div>
                    <footer class="plan-footer">
                        <a class="button become primary fit" href="javascript:void()" data-portal="signup/free">Join the Crew</a>
                        <h6 class="fancy primary">You Rock!</h6>
                        <a class="manage primary" href="javascript:void()" data-portal="account">View Your Profile</a>
                    </footer>
                </div>
                <div class="checkout-plan plan-astronaut">
                    <header class="plan-header">
                        <h3>Astronaut</h3>
                        <span>$</span><strong>{{@price.monthly}}</strong> / month
                    </header>
                    <div class="plan-content">
                        <b class="tagline">Light that candle!</b>
                        <p class="intro">As an Astronaut, get Trainee-level access plus pre-release eBooks and your name acknowledged as a supporter.</p>
                        <b>Includes:</b>
                        <ul>
                            <li><i>Pre-release eBook downloads</i></li>
                            <li><i>A member-exclusive podcast featuring audio of completed short stories and novels, read by me</i></li>
                            <li><i>Your name acknowledged as a supporter</i></li>
                            <li>Email newsletter with public and member-exclusive content</li>
                            <li>Access to member-exclusive content</li>
                            <li><a href="javascript:scrollToStories()">Two free sci-fi short stories!</a></li>
                        </ul>
                    </div>
                    <footer class="plan-footer">
                        <a class="button upgrade primary fit" href="javascript:void()" data-members-plan="Monthly">Upgrade to Astronaut</a>
                        <a class="button become primary fit" href="javascript:void()" data-members-plan="Monthly">Chase the Stars</a>
                        <h6 class="fancy primary">You Rock!</h6>
                        <a class="manage primary" href="javascript:void()" data-portal="account">View Your Profile</a>
                    </footer>
                </div>
                <div class="checkout-plan plan-colonist">
                    <header class="plan-header">
                        <h3>Colonist</h3>
                        <span>$</span><strong>{{@price.yearly}}</strong> / year
                    </header>
                    <div class="plan-content">
                        <b class="tagline">Build a brave new world!</b>
                        <p class="intro">As a Colonist, get Astronaut-level access and one free month!</p>
                        <b>Includes:</b>
                        <ul>
                            <li><i>One free month!</i></li>
                            <li>Pre-release eBook downloads</li>
                            <li>A member-exclusive podcast featuring audio of completed short stories and novels, read by me</li>
                            <li>Your name acknowledged as a supporter</li>
                            <li>Email newsletter with regular content updates</li>
                            <li>Access to member-exclusive content</li>
                            <li><a href="javascript:scrollToStories()">Two free sci-fi short stories!</a></li>
                        </ul>
                    </div>
                    <footer class="plan-footer">
                        <a class="button upgrade primary fit" href="javascript:void()" data-members-plan="Yearly">Upgrade to Colonist</a>
                        <a class="button become primary fit" href="javascript:void()" data-members-plan="Yearly">Build a World</a>
                        <h6 class="fancy primary">You Rock!</h6>
                        <a class="manage primary" href="javascript:void()" data-portal="account">View Your Profile</a>
                    </footer>
                </div>
                <div class="checkout-plan plan-explorer">
                    <header class="plan-header">
                        <h3>Explorer</h3>
                        <span>$</span><strong>20</strong> / month
                    </header>
                    <div class="plan-content">
                        <b class="tagline">See what's out there...</b>
                        <p class="intro">As an Explorer, get Astronaut-level access plus a signed paperback copy of any book I release with your support.</p>
                        <b>Includes:</b>
                        <ul>
                            <li><i>A signed paperback of any book(s) released while you're a member</i></li>
                            <li>Pre-release eBook downloads</li>
                            <li>A member-exclusive podcast featuring audio of completed short stories and novels, read by me</li>
                            <li>Your name acknowledged as a supporter</li>
                            <li>Email newsletter with regular content updates</li>
                            <li>Access to member-exclusive content</li>
                            <li><a href="javascript:scrollToStories()">Two free sci-fi short stories!</a></li>
                        </ul>
                    </div>
                    <footer class="plan-footer">
                        <a class="button upgrade primary fit" href="https://www.patreon.com/matthewrasnake" title="Explorers will sign up via Patreon until this site's software supports membership tiers.">Upgrade to Explorer*</a>
                        <a class="button become primary fit" href="https://www.patreon.com/matthewrasnake" title="Explorers will sign up via Patreon until this site's software supports membership tiers.">Push the Boundaries*</a>
                        <h6 class="fancy primary">You Rock!</h6>
                        <a class="manage primary" href="https://www.patreon.com/matthewrasnake">Manage Your Membership</a>
                    </footer>
                </div>
            </div>
            {{#unless @member }}
                <p><small>Already have an account? <a href="javascript:void()" data-portal="signin">Sign in</a></small></p>
            {{/unless}}
            <p class="wide explorer-note"><small>* <i><b>NOTE:</b> Explorers will sign up via Patreon until this site's software supports membership tiers.</i></small></p>
        </div>
        <div class="free-stories">
            <hr />
            <h4 class="fancy center">Learn more about these free stories</h4>
            <div class="row">
                <div class="col">
                    <figure class="kg-card kg-image-card kg-card-hascaption center">
                        <img class="kg-image"
                            loading="lazy"
                            src="https://images.matthewrasnake.com/cover-mockup_rpweekending@2x-300x273.png"
                            alt="&quot;Weekending&quot; cover image"
                            srcset="
                                https://images.matthewrasnake.com/cover-mockup_rpweekending@2x-200x182.png 200w,
                                https://images.matthewrasnake.com/cover-mockup_rpweekending@2x-300x273.png 300w,
                                https://images.matthewrasnake.com/cover-mockup_rpweekending@2x-768x699.png 768w,
                                https://images.matthewrasnake.com/cover-mockup_rpweekending@2x.png 1000w"
                            sizes="(min-width: 1000px) 40vw, 96vw" />
                    </figure>
                    <h5 class="center">
                        The Rogue Planet Series
                        <small><br />For the Not-kid Types</small>
                    </h5>
                    <p><em>Rogue Planet</em>&nbsp;is an upcoming near-future sci-fi disaster novel featuring Mel Barber and Leala Pendrova who must survive a dying Earth and an unforgiving Mars long enough to save their families and preserve humanity. The novel is currently out on query with several agents, and book two is in active development.</p>
                    <p>The short story&nbsp;<em>Weekending</em>&nbsp;(~5k words) is set concurrent with the events of&nbsp;<em>Rogue Planet</em>, and featuring characters from the novel.</p>
                    <p>College buddies Nolan, Tom, and Grant set out for a weekend of camping in the mountains of northern California, anticipating a couple quiet days of fishing, reminiscing, and carousing. Everything’s going well until they’re roused from their tent on the first night to find that the sky, the mountain, and the Earth herself have turned against them.</p>
                </div>
                <div class="col">
                    <figure class="kg-card kg-image-card kg-card-hascaption center">
                        <img class="kg-image"
                        loading="lazy"
                        src="https://images.matthewrasnake.com/cover-mockup_astuv@2x-300x288.png"
                        alt="&quot;The Astronauts Sam and the Unexpected Visitor&quot; cover image"
                        srcset="
                            https://images.matthewrasnake.com/cover-mockup_astuv@2x-200x192.png 200w,
                            https://images.matthewrasnake.com/cover-mockup_astuv@2x-300x288.png 300w,
                            https://images.matthewrasnake.com/cover-mockup_astuv@2x-768x738.png 768w,
                            https://images.matthewrasnake.com/cover-mockup_astuv@2x.png 1000w"
                        sizes="(min-width: 1000px) 40vw, 96vw" />
                    </figure>
                    <h5 class="center">
                        The Astronauts Sam Series
                        <small><br />For the Kid Types</small>
                    </h5>
                    <p><em>The Astronauts Sam</em>&nbsp;is a series of stories for kids of all ages intended to help develop new readers interested in space, science, exploration, and play while demonstrating the values of friendship, helpfulness, hopefulness, and compassion. A picture book and an early reader are in active development, with everything from board books to young adult novels to come.</p>
                    <p><em>The Unexpected Visitor</em>&nbsp;is a short story (~5k words) meant to introduce adults to the world of the Astronauts Sam.</p>
                    <p>Change and uncertainty make Sam anxious, and a stranger crashing their impromptu mission in the middle of snack time is almost too much to accept. While Samantha makes a new friend, their unexpected visitor makes a fascinating discovery, and Sam learns that sometimes something (or someone) different just makes life more interesting.</p>
                </div>
            </div>
            <hr />
            <h4 class="center">Don't Just Take My Word For It&hellip;</h4>
            <div class="testimonials">
                <div class="testimonial">
                    <div class="testimonial-text">
                        “I read <em>Weekending</em>…omg! I’m hooked! It was a big teaser, but really good. Need to know what happened. Is <em>Rogue Planet</em> out yet?”
                    </div>
                    <h6 class="testimonial-name">– Cori</h6>
                </div>
                <div class="testimonial">
                    <div class="testimonial-text">
                        “Loved the <em>Astronauts Sam</em> story! I just read it from start to finish and found it engaging, creative, and charming. Can’t wait to read the next one!”
                    </div>
                    <h6 class="testimonial-name">- Teresa</h6>
                </div>
                <div class="testimonial">
                    <div class="testimonial-text">
                        “I loved <em>Weekending</em>, and can’t wait to read <em>Rogue Planet</em> to find out what’s really going on. And the <em>Astronauts Sam</em> story was super cute. I think kids will love it!”
                    </div>
                    <h6 class="testimonial-name">– Ruthie</h6>
                </div>
            </div>
            <h4 class="center">Claim Your Free Books!</h4>
            <div class="closing">
                <p>When you sign up, you’ll get a welcome email with links to download both stories. Then, as part of your subscription, I’ll send occasional email updates including news, stats, or interesting things I’ve dug up during my research; or questions, surveys, giveaways, free stories, or ARCs of upcoming works.</p>
                <p>I’m excited for you to join me on this adventure, and hope you enjoy the stories!</p>
                <div class="fancy center"><a href="javascript:scrollToPlans()"><b>Subscribe or Become a Patron Today!</b></a></div>
            </div>
        </div>
    </div>
</div>
{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
    {{#each @member.subscriptions as | subscription |}}
        {{#if @first}}
            <script>
                var member = {
                    "name": "{{@member.firstname}}",
                    "paid": !!{{@member.paid}}
                }
                var plan = "{{subscription.plan.nickname}}".toLowerCase();
                $(document).ready(function() {
                    var className = 'member-';
                    switch (plan) {
                        case 'complimentary':
                            className += 'explorer';
                            break;
                        case 'yearly':
                            className += 'colonist';
                            break;
                        case 'monthly':
                            className += 'astronaut';
                            break;
                        default:
                            if (!!member.name && !member.paid) {
                                className += 'trainee'
                            } else className = '';
                    }
                    if (className !== 'member-explorer') { $('.explorer-note').show(); }
                    $('.checkout-box').addClass(className);
                })
            </script>
        {{/if}}
    {{/each}}
    <script>
        function scrollToStories() {
            $('html, body').animate({
                scrollTop: parseInt($("div.free-stories").offset().top)
            }, 1000);
        };
        function scrollToPlans() {
            $('html, body').animate({
                scrollTop: parseInt($(".checkout-title").offset().top)
            }, 1000);
        };
    </script>
{{/contentFor}}